apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      automountServiceAccountToken: false
      containers:
        - name: api
          image: ghcr.io/soydz/pt-supermercado:main
          imagePullPolicy: Always

          ports:
            - containerPort: 8080

          envFrom:
            - configMapRef:
                name: api-config
            - secretRef:
                name: api-secrets

          resources:
            request:
              cpu: "100m"
              memory: "256mi"
            limits:
              cpu: "500m"
              memory: "512mi"