spring:
  application:
    name: pt-supermercado
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
springdoc:
  swagger-ui:
    enabled: false
scalar:
  enabled: true
  url: /v3/api-docs/public-api
  path: /docs
  slug: api-v1
  showInternalEndpoints: false
